version: '3.8'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ny_taxi
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  ingest:
    build: .
    depends_on:
      - postgres
    command: --pg-host=postgres

volumes:
  postgres-data: